services:
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Password1!
      POSTGRES_DB: ischool_db

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    user: root
    depends_on:
      - postgres
    ports:
      - '5050:80'
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@localhost.com
      PGADMIN_DEFAULT_PASSWORD: Password1!
