name: CI

on:
  pull_request:
    branches: [development, main]

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: Password1!
          POSTGRES_DB: ischool_test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U admin -d ischool_test_db"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Wait for postgres
        run: |
          until pg_isready -h localhost -p 5432 -U admin; do
            sleep 1
          done

      - name: Run ESLint
        run: npm run lint

      - name: Type check
        run: npx tsc --noEmit

      - name: Run Migrations
        run: npm run db:migrate:test

      - name: Run tests
        run: npm run test
